<div class='comments'>
  <p>
    Author: <%= comment.author %>
  </p>
  <p>
    Body: <%= comment.content %>
  </p>
    
  <% if policy(@comment).approve? %>
  <p>Status: <%= comment.approved? ? 'Approved' : 'Unapproved' %></p>  
    <% if comment.approved? %>
      <%= button_to 'Unapprove', article_comment_path(@article, comment, params: { comment: { approved: false } }), method: :patch %>
    <% else %>
      <%= button_to 'Approve', article_comment_path(@article, comment, params: { comment: { approved: true } }), method: :patch %>
    <% end %>
  <% end %>
</div>