<p id="notice"><%= notice %></p>

<p>
  <h1><%= @article.title %></h1>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p id="author">
  <b>By:</b>
  <%= @article.author.username %>
</p>

<p id="status">
    <b>Status:</b>
    <%= @article.published? ? "Published" : "Unpublished" %>
</p>
<% if policy(@article).update? %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>

<h2>Comments</h2>
<div class='comments'>
    <% policy_scope(@article.comments).each do |comment| %>
       Author: <%= comment.author %><br>
       Body: <%= comment.content %>

        <% if policy(@comment).approve? %>
        Status: <%= comment.approved? ? 'Approved' : 'Unapproved' %>
        <% if comment.approved? %>
        <%= button_to 'Unapprove', article_comment_path(@article, comment, params: { comment: { approved: false } }), method: :patch %>
        <% else %>
        <%= button_to 'Approve', article_comment_path(@article, comment, params: { comment: { approved: true } }), method: :patch %>
        <% end %>
        <% end %>
    <% end %>
</div>
<%= render 'comments/form' %>
<%= link_to 'Back', articles_path %>
