<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p id="author">
  <b>By:</b>
  <%= @article.author.username %>
</p>

<p id="status">
	<b>Status:</b>
	<%= @article.published? ? "Published" : "Unpublished" %>
</p>
<% if policy(@article).update? %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>

<%= render 'comments/form' %>
<%= link_to 'Back', articles_path %>
