<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:bold|Vollkorn">

  <title><%= content_for?(:title) ? yield(:title) : "Jerel Navarrete" %></title>

  <%= stylesheet_link_tag    "application" %>
  <header>
    <div id="primary-navigation">
      <nav>
        <ul>
          <li><a>About</a></li>
          <li><a>Contact</a></li>
          <li><a href='/'><%=image_tag("logo.png", alt: "Home", :size => "100x100")%></a></li>
          <li><a href='/articles'>Articles</a></li>
          <li><a href='/projects'>Projects</a></li>
        </ul>
      </nav>
    </div>
  </header>

</head>

<body>
  <div id='notifications'>
    <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
    <% end %>
  </div>
  <div id='user_header'>
    <%= link_to "Sign Up", new_user_registration_path %>
  </div>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
<footer>
  <nav class="social-media">
    <ul>
      <a href="https://github.com/jereln">
        <li class="github"><%=image_tag('github.png', alt: 'Github', :size => '20x20')%>
        </a></li>
        <a href="https://twitter.com/jerelnav">
          <li class="twitter"><%=image_tag('twitter.gif', alt: 'Twitter', :size => '20x20')%>
          </a></li>
          <a href="https://www.linkedin.com/in/jereln">
            <li class="linkedin"><%=image_tag('linkedin.png', alt: 'Linkedin', :size => '20x20')%>
            </a></li>
          </ul>
        </nav>
      </footer>
      </html>